.footer {
    font-weight: 700;
    font-size: 24px;
    width: 100%;
    background: linear-gradient(180deg, var(--bg-color, #1B1A1B) 0%, var(--gradient-purple-color, #370A37) 100%);
}

.footer__address {
    display: flex;
    gap: 26px;
}

.footer__address_first {
    margin-bottom: 30px;
}

.footer__address_svg {
    color: var(--light-purple-color, #6C0287);
}

.footer__container {
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-position: 100% 75%;

}
