.social {
    display: flex;
    gap: 26px;
    padding: 0;
}

.social__link {
    color: var(--main-font-color, #FFFFFF);
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.social__link:hover {
    color: var(--active-button-color, #EADEED);
}

.social__link:focus {
    color:var(--active-button-color, #EADEED);
	outline: 1px solid var(--bright-purple-color, #CD06FF);
}

.social__link:active {
	color:var(--bright-purple-color, #CD06FF);
}