.social {
    display: flex;
    gap: 26px;
    padding: 0;
}

.social__link {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.social__link-svg {
    width: 50px;
    height: 50px;
}

.social__link:hover {
    color: var(--active-button-color, #EADEED);
}

.social__link:active {
	color:var(--bright-purple-color, #CD06FF);
}

@media (max-width: 480px) {
    .social {
        gap: 20px;
    }

    .social__link-svg {
        width: 30px;
        height: 30px;
    }
}